{% extends 'base.html' %}
{% block content %}
    <h2>Delete Account</h2>
    <hr>
    <h4 class="my-4">Are you sure you want to delete <span class="text-primary">{{ object.name }}?</span></h4>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirm Delete" class="btn btn-danger">
        <a href="{% url 'show_account' account.id %}" class="m-2">Cancel</a>
    </form>
    <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Are you sure you want to delete this category?" data-bs-content="And here's some amazing content. It's very engaging. Right?">
        Click to toggle popover
    </button>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
{% endblock %}