{% extends 'base.html' %}

{% block title %}Wallet | FinDash {% endblock %}

{% block sidebar %}
<li class="nav-item">
    <a href="{% url 'dashboard' %}" class="nav-link align-middle text-white">
        <i class="fs-4 bi-speedometer2"></i> 
        <span class="ms-1 d-none d-sm-inline">Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'accounts_index' %}" class="nav-link align-middle  active" aria-current="page">
        <i class="fs-4 bi-grid"></i> 
        <span class="ms-1 d-none d-sm-inline">Wallet</span>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link align-middle text-white">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline">Transactions</span>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link align-middle text-white">
        <i class="fs-4 bi-pie-chart-fill"></i>
        <span class="ms-1 d-none d-sm-inline">Budget</span>
    </a>
</li>
{% endblock %}

{% block content %}
    <h2>Wallet</h2>
    <hr>
    <div class="container">
        <div class="card bg-dark-subtle p-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2">
                {% for account in accounts %}
                    <div class="col">
                        <div class="card bg-body-secondary">
                            <div class="card-body">
                                <h5 class="card-title">{{ account.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ account.type }}</h6>
                                <p class="card-text">Balance: ${{ account.balance }}</p>
                            </div>
                            <div class="card-footer text-muted text-center">
                                <a href="#" class="card-link">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-grid mt-4">
            <a href="{% url 'accounts_create' %}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Account</a>
        </div>
    </div>
{% endblock %}