{% extends 'base.html' %}
{% include 'accounts/shared.html' %}

{% block content %}
    <h1>{{ account.name }}</h1>
    <hr>
    <div class="container">
        <div class="card bg-dark-subtle p-4">
            <div class="card bg-body-secondary">
                <div class="card-body">
                    <h5 class="card-title">{{ account.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ account.type }}</h6>
                    <p class="card-text">Balance: ${{ account.balance }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}