{% extends 'base.html' %}

{% block title %}Accounts | FinDash {% endblock %}

{% block sidebar %}
<li class="nav-item">
    <a href="{% url 'dashboard' %}" class="nav-link align-middle text-white">
        <i class="fs-4 bi-speedometer2"></i> 
        <span class="ms-1 d-none d-sm-inline">Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'accounts_index' %}" class="nav-link align-middle  active" aria-current="page">
        <i class="fs-4 bi-grid"></i> 
        <span class="ms-1 d-none d-sm-inline">Wallet</span>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link align-middle text-white">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline">Transactions</span>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link align-middle text-white">
        <i class="fs-4 bi-pie-chart-fill"></i>
        <span class="ms-1 d-none d-sm-inline">Budget</span>
    </a>
</li>
{% endblock %}

{% block content %}
    <h1>{{ account.name }}</h1>
    <hr>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">Accounts</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ account.name }}</li>
        </ol>
    </nav>
    <div class="container">
        <div class="card bg-dark-subtle p-4">
            <div class="card bg-body-secondary">
                <div class="card-body">
                    <h5 class="card-title">{{ account.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ account.type }}</h6>
                    <p class="card-text">Balance: ${{ account.balance }}</p>
                </div>
            </div>
        </div>
        <div class="container mt-2">
            <a href="{% url 'accounts_update' account.id %}" class="btn  btn-outline-dark">Edit</a>
            <a href="{% url 'accounts_delete' account.id %}" class="btn btn-outline-danger">Delete</a>
        </div>
    </div>
{% endblock %}