{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <div class="container form-signin w-50 col-md-10 col-lg-5 mx-auto col-xl-10 col-xxl-8 px-4 py-5">
        <form action="{% url 'login' %}" method="POST" class="p-4 p-md-5 border rounded-3 bg-light">
            {% csrf_token %}
            <i class="display-4 mb-4 bi-cash-coin"></i>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <div class="m-2">Username</div>
                <div class="m-2">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-floating">
                <div class="m-2">Password</div>
                <div class="m-2">
                    {{ form.password }}
                </div>
            </div>
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login" />
            <input type="hidden" name="text" value="{{ next }}">
            <p class="mt-5 mb-3 text-muted">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </form>
    </div>
</div>
{% endblock %}

