{% extends 'base.html' %}

{% block title %}Dashboard | FinDash{% endblock %}

{% block sidebar %}
    <li class="nav-item">
        <a href="{% url 'dashboard' %}" class="nav-link align-middle active" aria-current="page">
            <i class="fs-4 bi-speedometer2"></i> 
            <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'accounts_index' %}" class="nav-link align-middle text-white">
            <i class="fs-4 bi-grid"></i> 
            <span class="ms-1 d-none d-sm-inline">Accounts</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'transactions_index' %}" class="nav-link align-middle text-white">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Transactions</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'budgets_index' %}" class="nav-link align-middle text-white">
            <i class="fs-4 bi-pie-chart-fill"></i>
            <span class="ms-1 d-none d-sm-inline">Budget</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <h2>Dashboard</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Net Worth</h5>
                    <p class="card-text">$10,000,000</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Card info</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Card info</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Budget</h5>
                    <div id="chart-demo-pie" class="chart-lg"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transactions</h5>
                    <p class="card-text">Card info</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-pie'), {
                chart: {
                    type: "donut",
                    fontFamily: 'inherit',
                    height: 400,
                    sparkline: {
                        enabled: true
                    },
                    animations: {
                        enabled: false
                    },
                },
                fill: {
                    opacity: 1,
                },
                series: [44, 55, 12, 2],
                labels: ["Dining out", "Groceries", "Entertainment", "Misc"],
                tooltip: {
                    theme: 'dark'
                },
                grid: {
                    strokeDashArray: 4,
                },
                legend: {
                    show: true,
                    position: 'right',
                    offsetY: 12,
                    markers: {
                        width: 10,
                        height: 10,
                        radius: 100,
                    },
                    itemMargin: {
                        horizontal: 8,
                        vertical: 8
                    },
                },
                tooltip: {
                    fillSeriesColor: false
                },
            })).render();
        });
    </script>
{% endblock %}