{% extends 'base.html' %}

{% block title %}Home | FinDash{% endblock %}

{% block sidebar %}
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link align-middle active" aria-current="page">
            <i class="fs-4 bi-speedometer2"></i> 
            <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'accounts_index' %}" class="nav-link align-middle text-white">
            <i class="fs-4 bi-grid"></i> 
            <span class="ms-1 d-none d-sm-inline">Accounts</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'transactions_index' %}" class="nav-link align-middle text-white">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Transactions</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'budgets_index' %}" class="nav-link align-middle text-white">
            <i class="fs-4 bi-pie-chart-fill"></i>
            <span class="ms-1 d-none d-sm-inline">Budget</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <h1>Home</h1>
{% endblock %}