<div class="input-group mb-3">
    <span class="input-group-text">Description</span>
        {{ form.description }}
</div>
<div class="input-group mb-3">
    <span class="input-group-text">Date</span>
        {{ form.date }}
</div>
<div class="input-group mb-3">
    <span class="input-group-text">Account</span>
        {{ form.account }}
</div>
<div class="input-group mb-3">
    <span class="input-group-text">$</span>
        {{ form.amount }}
    <span class="input-group-text">.00</span>
</div>
<div class="input-group mb-3">
    <span class="input-group-text">Category</span>
        {{ form.category}}
</div>