body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #0C104E;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: #0C104E;
}